/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/* GENERAL */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  min-height: 100vh;
  padding: 1.6rem;
  display: grid;
  place-items: center;
  user-select: none;
}

/* MAIN */
.main {
  max-width: 68rem;
  display: grid;
  place-items: center;
  gap: 3.2rem;
}

/* LOGO */
.logo {
  width: 18rem;
  height: 6.3rem;
}

/* HEADINGS */
.headings {
  text-align: center;
  display: grid;
  gap: 1.6rem;
}

@media (width < 640px) {
  .headings {
    max-width: 44rem;
  }
}

.headings h2 {
  font-weight: 500;
  font-size: 2rem;
  color: #bcbcbc;
}

@media (width < 640px) {
  .headings h2 {
    font-size: 1.6rem;
  }
}

.headings h1 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.1;
}

@media (width < 640px) {
  .headings h1 {
    font-size: 2rem;
  }
}

.headings h1 span {
  color: #cbf23d;
}

/* AVATAR */
.avatar {
  width: 18rem;
  height: 18rem;
}

/* CALL TO ACTION */
.cta {
  background-color: #1c8c3d;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 2rem;
  border-radius: 0.4rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

@media (width < 640px) {
  .cta {
    font-size: 1.8rem;
  }
}
